@model AirBNB.Models.Listings

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Listings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListingUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListingUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScrapeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScrapeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastScraped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastScraped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Space)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Space)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperiencesOffered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperiencesOffered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeighborhoodOverview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeighborhoodOverview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Access)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Access)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseRules)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseRules)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThumbnailUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThumbnailUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediumUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediumUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XlPictureUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XlPictureUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostSince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostSince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostAbout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostAbout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostResponseTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostResponseTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostResponseRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostResponseRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostAcceptanceRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostAcceptanceRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostIsSuperhost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostIsSuperhost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostThumbnailUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostThumbnailUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostPictureUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostPictureUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostNeighbourhood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostNeighbourhood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostListingsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostListingsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostTotalListingsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostTotalListingsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostVerifications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostVerifications)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostHasProfilePic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostHasProfilePic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostIdentityVerified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostIdentityVerified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Neighbourhood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Neighbourhood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeighbourhoodCleansed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeighbourhoodCleansed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeighbourhoodGroupCleansed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeighbourhoodGroupCleansed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zipcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Market)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Market)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmartLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmartLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLocationExact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLocationExact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accommodates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accommodates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bathrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bathrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bedrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bedrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BedType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BedType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amenities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amenities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SquareFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SquareFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeeklyPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeeklyPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityDeposit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityDeposit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CleaningFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CleaningFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestsIncluded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestsIncluded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraPeople)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraPeople)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumNights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumNights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumNights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumNights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalendarUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasAvailability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasAvailability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availability30)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Availability30)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availability60)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Availability60)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availability90)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Availability90)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availability365)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Availability365)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarLastScraped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalendarLastScraped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfReviews)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfReviews)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstReview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstReview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastReview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastReview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewScoresRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewScoresRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewScoresAccuracy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewScoresAccuracy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewScoresCleanliness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewScoresCleanliness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewScoresCheckin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewScoresCheckin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewScoresCommunication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewScoresCommunication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewScoresLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewScoresLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewScoresValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewScoresValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiresLicense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiresLicense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.License)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.License)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JurisdictionNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JurisdictionNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstantBookable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstantBookable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBusinessTravelReady)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBusinessTravelReady)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CancellationPolicy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CancellationPolicy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequireGuestProfilePicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequireGuestProfilePicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequireGuestPhoneVerification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequireGuestPhoneVerification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalculatedHostListingsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalculatedHostListingsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewsPerMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewsPerMonth)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
